/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

.nav__brand {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  &:hover,
  &:active {
    text-decoration: none;
    color: #fff;
  }
}

.container {
  margin: 0 2rem;
}

@mixin button {
  text-transform: capitalize;
  border: 1px solid #000;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 8px 16px;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  color: #000;
  outline: none;
  text-decoration: none;
  &:hover {
    background-color: #000;
    color: #fff;
  }
  &:active {
    background-color: #fff;
    color: #000;
  }
}

.gallery-form {
  margin-top: 64px;
  text-align: center;
}

.gallery-form__text {
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  text-align: center;
  padding: 8px 16px;
}

.gallery-form__text--editing {
  font-style: italic;
}

.gallery-list {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  text-align: center;
}

.gallery-item {
  margin-right: 32px;
  cursor: pointer;

  a,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
  }
}

.gallery-item__cover {
  border: 8px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 4px 4px 16px -4px;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &:hover {
    border: 12px solid #000;
  }
}

.gallery-item__title {
  font-weight: 700;
  margin-top: 16px;
}

.login-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 32px;
}

.login-form__field {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

.login-form__label {
  flex: 1;
  font-weight: 700;
}

.login-form__text {
  flex: 2;
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 1rem;
}

.login-form__submit {
  @include button;
}

.login-form__field--space-evenly {
  justify-content: space-evenly;
}
